<div class="container top-page">
	<h1>Contact Us</h1>
	<h2 class="center">Get in touch and share with us your learning experience.</h2> 
	<p>We have a strong commitment with our learners and focus all our stamina in rendering an optimal App to maximise your experience. We do encourage you to give us feedback here so that our commitment comes true to its best. </p>
</div>
