<p id="notice"><%= notice %></p>

<div class="container top-page">
  <h1>Listing Courses</h1>
  <hr>

  <div class="container-fluid">
    <div class="row">
      <%= render @products %> 
    </div><!-- /row--> 
  </div>

  <%= link_to 'New Course', new_product_path %>
  <hr>
</div>

