<!DOCTYPE html>
<html>
<head>
  <title>Spanish@aClick</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- font Awesome glyphicons contact-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- ==================== -->
  <!-- Navigation comes now -->
  <!-- ==================== -->
  <!-- Collect the nav links, forms, and other content for toggling -->
  <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand brand page-scroll" href="#page-top"><span style="color: red">Spanish </span><i style="color: yellow" class="fa fa-at"></i><span style="color: red"> a Click</span></a>
      </div>
      <!-- /.nav-header -->

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a class="page-scroll" href="#offers">Home</a>
          </li>
          <li>
            <a class="page-scroll" href="#">About</a>
          </li>
          <li class="dropdown">
            <a id="dropskills" class="page-scroll" href="#" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Skills <span class="caret"></span></a>
            <ul class="dropdown-menu" arialabelledby="dropskills">
              <li><a class="page-scroll" href="#speaking">Speaking</a></li>
              <li><a class="page-scroll" href="#listening">Listening</a></li>
              <li><a  class="page-scroll" href="#writing">Writing</a></li>
              <li><a  class="page-scroll" href="#reading">Reading</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a id="dropcourses" class="page-scroll" href="#" data-toggle="dropdown" role="button" aria-haspopup="false" aria-expanded="false">Courses <span class="caret"></span></a>
            <ul class="dropdown-menu" arialabelledby="dropcourses">
              <li><a class="page-scroll" href="#beginner1">Beginner 1</a></li>
              <li><a class="page-scroll" href="#beginner2">Beginner 2</a></li>
              <li><a  class="page-scroll" href="#elementary1">Elementary 1</a></li>
              <li><a  class="page-scroll" href="#elementary2">Elementary 2</a></li>
              <li><a  class="page-scroll" href="#intermediate1">Intermediate 1</a></li>
              <li><a  class="page-scroll" href="#intermediate2">Intermediate 2</a></li>
              <li><a  class="page-scroll" href="#advance1">Advance 1</a></li>
              <li><a  class="page-scroll" href="#advance2">Advance 2</a></li>
              <li><a  class="page-scroll" href="#proficient1">Proficient 1</a></li>
              <li><a  class="page-scroll" href="#proficient2">Proficient 2</a></li>
            </ul>
          </li>
          <li>
            <a class="page-scroll" href="#">Contact</a>
          </li>
          <li>
            <a class="page-scroll" href="#">Sign in</a>
          </li>
          <li>
            <a class="page-scroll" href="#"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="page-scroll" href="#"><i class="fa fa-facebook"></i></a>
          </li>
          <li>
            <a class="page-scroll" href="#"><i class="fa fa-instagram"></i></a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- /.navbar -->
  <!-- /////////////// -->
  <!-- Navigation ends -->
  <!-- /////////////// -->
	<%= yield %>
  <%# 4 + 4 %>
  <%#= 4+ 4 %>
  <%# sum = 4 +4 %>
  <%#= sum %>
	<footer class="bg-dark">
    <div class="container text-center">
      <div>
        <h2 class="brand">&copy<span style="color: red">Spanish </span><i style="color: yellow" class="fa fa-at"></i><span style="color: red"> a Click</span></h2>
        <a href="#" class="sign-up">Sign up now!</a>
      </div>
    </div>
  </footer>

</body>
</html>
